  /* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .slide {
    display: none;
    text-align: center;
    padding: 20px;
  }

  .slide img {
    max-width: 100%;
    height: auto;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  } */